@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;

}
.logo:hover{
    color: rgb(221, 242, 71);
    text-shadow: O O 25p rgb(221, 242, 71),
                 0 0 50px rgb(221, 242, 71);
    transform: scale(1.1);
}
span{
    color: rgb(221, 242, 71);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: rgb(221, 242, 71);
    border-bottom: 3px solid rgb(221, 242, 71);
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}
.contact:hover{
    background-color: rgb(221, 242, 71);
    color: black;
    border: 2px solid black;
}

.home{
    width: 100%;
    min-height: 140vh;
    background: black;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    color: white;
}
.home-content{
    max-width: 800px;
}
.home-content h2{
    font-size: 42px;
}
.home-content h1{
    font-size: 50px;
    line-height: 1.2;
}
.button{
    width: 345px;
    display: flex;
    gap: 2em;
}
.button1{
    padding: 10px 28px;
    background-color:  rgb(221, 242, 71);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    margin: 1rem 0;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.button1:hover{
    background-color: white;
    border: 2px solid black;
}
.image img{
    border-radius: 10%;
    width: 550px
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(221, 242, 71);
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 20px;
}
.About{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about h2{
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    text-align: left;
    color: white;
    font-size: 42px;
}
.about p{
    text-align: left;
    color: white;
    font-size: 20px;
}
.Container{
    background:black;
    padding:15px 9%;
    padding-bottom: 100px;
}
.Container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.Container .Box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:15px;
}

.Container .Box-container{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: rgb(221, 242, 71);
    text-align: left;
    padding:30px 20px;
} 
.Container .Box-container h4 h5{
    color: black;
    font-size: 22px;
    padding:10px 0;
}

.Container .Box-container p{
    color: black;
    font-size: 16px;
    line-height: 1.8;
}

.Container .Box-container{
    margin-top: 10px;
    display: inline-block;
    color:black;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.Container .Box-container:hover{
    text-shadow: O O 25p rgb(221, 242, 71),
                 0 0 50px rgb(221, 242, 71);
    transform: scale(1.1);
}
.container{
    background: black;
    padding:15px 9%;
    padding-bottom: 100px;
}
.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:15px;
}
.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: rgb(221, 242, 71);
    text-align: center;
    padding:30px 20px;
}
.container .box-container .box img{
    height: 80px;
}
.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}
.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}
.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
@media (max-width:768px){
    .container{
        padding:20px;
    }
}
.Certificates{
    background: black;
    padding:15px 9%;
    padding-bottom: 100px;
}
.Certificates .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.Certificates .Certificates-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
}
.Certificates .Certificates-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: rgb(221, 242, 71);
    text-align: center;
    padding:30px 20px;
}
.Certificates .Certificates-container .box img{
    height: 200px;
}
.Certificates .Certificates-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
@media (max-width:768px){
    .container{
        padding:20px;
    }
}
.Resume {
    background-color: black;
    color: white;
    padding-bottom: 10px;
}
.Resume .heading{
    text-align: center;
    font-size: 35px;
    justify-content: center;
    
}
.Resume .Button .Button1:hover{
    background-color: white;
    border: 2px solid black;
}
.Resume .Button .Button1{
    width: 200px;
    height: 50px;
    background-color:  rgb(221, 242, 71);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 2rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.Projects{
    background: black;
    padding:15px 9%;
    padding-bottom: 100px;
}
.Projects .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}
.Projects .Projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
}
.Projects .Projects-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: rgb(221, 242, 71);
    text-align: center;
    padding:30px 20px;
}
.Projects .Projects-container .box img{
    height: 200px;
}
.Projects .Projects-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
@media (max-width:768px){
    .container{
        padding:20px;
    }
}
.Contact{
    background: white;
}
.contactme{
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
    color: black;
}
.Contact form{
    max-width: 40em ;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.Contact form .box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Contact form .box input,
.Contact form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: 1rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .Social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .Social a{
    font-size: 24px;
    color: white;
    border: 2px solid rgb(221, 242, 71);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgb(221, 242, 71), 0 0 10px rgb(221, 242, 71);
    transition: 0.3s ease;
}
.footer .Social a:hover{
    /* transform: scale(1,2); */
    color: rgb(221, 242, 71);
    border: 2px solid black;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    color: rgb(221, 242, 71);
    border-bottom: 3px solid rgb(221, 242, 71);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}




